<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Proasg-02</display-name>
  <welcome-file-list>
    <welcome-file>login-page.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Login_Control</display-name>
    <servlet-name>Login_Control</servlet-name>
    <servlet-class>com.control.Login_Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Control</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>Registration_Control</display-name>
    <servlet-name>Registration_Control</servlet-name>
    <servlet-class>com.control.Registration_Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Control</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
   
     <servlet>
    <description></description>
    <display-name>Insert_User_Data</display-name>
    <servlet-name>Insert_User_Data</servlet-name>
    <servlet-class>com.control.Insert_User_Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_User_Data</servlet-name>
    <url-pattern>/insertdata</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Edit_Dao</display-name>
    <servlet-name>Edit_Dao</servlet-name>
    <servlet-class>com.dao.Edit_Dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Dao</servlet-name>
    <url-pattern>/editdata</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>Edit_Personal_Dao</display-name>
    <servlet-name>Edit_Personal_Dao</servlet-name>
    <servlet-class>com.dao.Edit_Personal_Dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Personal_Dao</servlet-name>
    <url-pattern>/editpersonaldata</url-pattern>
  </servlet-mapping>
  
</web-app>